body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRg9xZHedpD8IZEQ-DMeGdAhaqNiTcRyr3LDQ&usqp=CAU");
    background-repeat: repeat;
}
.nav-middle{
    margin-right: 50%;
}
.custom-nav-bg{
    background-color: #ffff !important;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.img-height{
    height: 200px;
    width: auto;
}
.filter-border{
    border-left: groove;
    border-left-width: 1px;
}
.custom-filter{
    bottom: unset;
}
.position-middle{
    margin-top: 45%;
    margin-left: 50%;
}
.overflow-filter {
    max-height: 300px;
    overflow: scroll;
}
.curser-pointer{
    cursor: pointer;
}
.filter-bar{
    padding-left: 1rem;
    padding-top: 0.7rem !important;
}
.filter-bar-active{
    padding-left: 2rem;
    height: 3rem;
    margin: -1rem;
    background-color: white;
}
@media (min-width: 1025px) {
    .custom-nav{
        width: 100%;
        max-width: 1170px;
        margin: 0 auto !important;
    }
    .custom-filter{
        bottom: unset;
        width: 100%;
        max-width: 49.9rem;
        margin: 0 auto;
        box-sizing: border-box;
    }
}